#form-builder .page-header {height: auto;min-height: 7.6rem;}
#form-builder button.dropdown-toggle::after{display: none;}
#form-builder .dropdown-menu{margin: 1px 0;padding: 0;width: fit-content;}
#form-builder .dropdown-menu>.active>a, #form-builder .dropdown-menu>.active>a:focus, #form-builder .dropdown-menu>.active>a:hover {color: #fff;text-decoration: none;background-color: #2196F3;outline: 0;}
#form-builder .dropdown-menu>li>a {display: block;padding: 5px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}
#form-builder .dropdown-menu > li.dropdown-submenu {position: relative;}
#form-builder .dropdown-menu > li.dropdown-submenu:after {position: absolute;top: 13px;right: 10px;content: "";margin-left: .255em;vertical-align: .255em;border-top: 0.35em solid transparent;border-right: 0;border-bottom: 0.35em solid transparent;border-left: .35em solid;}
#form-builder .dropdown-menu > li.dropdown-submenu>.dropdown-menu {top: 0;left: -100%;width: 100%;margin: 0;border-radius: 0 6px 6px 6px;max-height: 500px;overflow-y: auto;}
#form-builder .dropdown-menu > li.dropdown-submenu:hover > .dropdown-menu {display: block;}
#form-builder .nav-tabs.nav-tabs-horizontal{border-bottom: 1px solid #dddddd;}
#form-builder .horizontal-tabs{border: none;}
#form-builder .horizontal-tabs>li+li{margin-top: unset;}
#form-builder .horizontal-tabs li{border-bottom: 1px solid #ddd;}
#form-builder .horizontal-tabs li a{color: #333333;border-radius: unset;border: none;}
#form-builder .horizontal-tabs li a i.fa{line-height: 22px;}
#form-builder .horizontal-tabs li.active,#form-builder .horizontal-tabs li:hover{border-bottom: 3px solid #0087ce;}
#form-builder .horizontal-tabs li.active a, #form-builder .horizontal-tabs li:hover a{color: #008ece;border: none;border-radius: unset;}
#form-builder .horizontal-tabs li.active i, #form-builder .horizontal-tabs li:hover i{color: #008ece;}
#form-builder .horizontal-tabs li a:hover, #form-builder .horizontal-tabs li a:focus{border: none;background: none;color: #008ece;}
#form-builder .hr-panel-heading {margin: 20px -15px;}
#form-builder .list-group-item {position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;min-height: auto;}
#form-builder .list-group-item:first-child {border-top-left-radius: 4px;border-top-right-radius: 4px;}
#form-builder .list-group-item:last-child {border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}
#form-builder .leads-filter-column .form-group {padding-top: 0 !important;}

#form-builder .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus,#form-builder .nav-tabs>li.active>a:hover{color: #495057;background-color: transparent;border: none}
#form-builder .nav-tabs .nav-item.active:not(.dropdown-toggle):after,#form-builder .nav-tabs .nav-item.show .nav-item:not(.dropdown-toggle):after{content: '';position: absolute;width: 100%;left: 0;right: 0;bottom: 0;height: 2px;background-color: #3C4252;}
#form-builder .nav-tabs .nav-link{line-height: 25px;padding: 5px 15px;height: 4rem;}

#form-builder .form-wrap.form-builder .frmb>li:hover {-webkit-box-shadow: none !important;box-shadow: none !important;border: 1px solid #c5c5c5 !important;}
#form-builder .form-wrap.form-builder .frmb .prev-holder input[type=number] {width: 100% !important;}
#form-builder .frmb-control li.input-set-control:first-child {border-top-right-radius: 4px !important;border-top-left-radius: 4px !important;}
#form-builder .form-wrap.form-builder .frmb .field-actions .btn {font-size: 14px !important;min-height: 32px;min-width: 32px;}
#form-builder .form-wrap.form-builder .frmb .field-actions .btn:first-child {border-radius: 0 !important;}
#form-builder .form-wrap.form-builder .frmb .field-label, #form-builder .form-wrap.form-builder .frmb .legend {font-size: 13px !important;}

#form-builder #tab_form_build .form-group{padding-top: 0}
#form-builder #tab_form_build .frmb-control [class^="icon-"],#form-builder #tab_form_build .frmb-control [class*=" icon-"]{font-family: "Roboto","Helvetica Neue",sans-serif !important;font-size: 1.4rem;font-weight: normal;line-height: 1.5;color: #212529;height: unset;width: unset;}
#form-builder #tab_form_build .field-actions{z-index: 99}