#proposal-manage .page-header {height: auto;min-height: 7.6rem;}
#proposal-manage button.dropdown-toggle::after{display: none;}
#proposal-manage .dropdown-menu{margin: 1px 0;padding: 0}
#proposal-manage .dropdown-menu>.active>a, #proposal-manage .dropdown-menu>.active>a:focus, #proposal-manage .dropdown-menu>.active>a:hover {color: #fff;text-decoration: none;background-color: #2196F3;outline: 0;}
#proposal-manage .dropdown-menu>li>a {display: block;padding: 5px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}
#proposal-manage .dropdown-menu > li.dropdown-submenu {position: relative;}
#proposal-manage .dropdown-menu > li.dropdown-submenu:after {position: absolute;top: 13px;right: 10px;content: "";margin-left: .255em;vertical-align: .255em;border-top: 0.35em solid transparent;border-right: 0;border-bottom: 0.35em solid transparent;border-left: .35em solid;}
#proposal-manage .dropdown-menu > li.dropdown-submenu>.dropdown-menu {top: 0;left: -100%;width: 100%;margin: 0;border-radius: 0 6px 6px 6px;max-height: 500px;overflow-y: auto;}
#proposal-manage .dropdown-menu > li.dropdown-submenu:hover > .dropdown-menu {display: block;}
#proposal-manage .nav-tabs.nav-tabs-horizontal{border-top: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}
#proposal-manage .horizontal-tabs{border: none;}
#proposal-manage .horizontal-tabs>li+li{margin-top: unset;}
#proposal-manage .horizontal-tabs li{border-bottom: 1px solid #ddd;}
#proposal-manage .horizontal-tabs li a{color: #333333;border-radius: unset;border: none;}
#proposal-manage .horizontal-tabs li a i.fa{line-height: 22px;}
#proposal-manage .horizontal-tabs li.active,#proposal-manage .horizontal-tabs li:hover{border-bottom: 3px solid #0087ce;}
#proposal-manage .horizontal-tabs li.active a, #proposal-manage .horizontal-tabs li:hover a{color: #008ece;border: none;border-radius: unset;}
#proposal-manage .horizontal-tabs li.active i, #proposal-manage .horizontal-tabs li:hover i{color: #008ece;}
#proposal-manage .horizontal-tabs li a:hover, #proposal-manage .horizontal-tabs li a:focus{border: none;background: none;color: #008ece;}
#proposal-manage .hr-panel-heading {margin: 20px -15px;}
#proposal-manage .list-group-item {position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;min-height: auto;}
#proposal-manage .list-group-item:first-child {border-top-left-radius: 4px;border-top-right-radius: 4px;}
#proposal-manage .list-group-item:last-child {border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}

.proposal-form-save-buttons{position: absolute;top: 2rem;right: 4rem;}
#proposals-pipeline{overflow-x: auto;overflow-y: auto;}